.circle {
    background-color: lime;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: test 2s infinite;
}
@keyframes test {
    from {
        width: 200px;
        height: 200px;
    }
    50% {
        width: 400px;
        height: 500px;
    }
    70% {
        width: 500px;
    }
    to {
        width: 200px;
        height: 200px
    }
}