.container {
    display: flex;
    justify-content: space-around;
    background-color: limegreen;
    margin: 50px;
    padding: 50px;
    border-radius: 2%;
    animation: coolcolors 5s infinite;
}
@keyframes coolcolors {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
.card-img-top {
    height: 300px;
    background-size: cover;
    background-position: center;
}
.card .btn {
    display: flex;
    justify-content: space-around;
}
.info {
    text-align: right;
    margin-right: 20px;
    text-decoration: underline;
}
.info