table {
    border: 2px solid black;
    text-align: center;
}
table hr {
    background-color: black;
    height: 3px;
}
#left {
    width: 20%;
    position: absolute;
}
#right {
    width: 77%;
    position: absolute;
    left: 23%;
}
#contact {
    background: rgb(0,255,0);
    background: linear-gradient(90deg, rgba(0,255,0,1) 65%, rgba(255,239,0,1) 92%);
    width: 180px;
    height: 60px;
    margin-bottom: 20px;
}