td:nth-child(2) {
    background-color: lime;
    width: 50%;
}
.sampletext {
    font-size: larger;
    margin-bottom: 30%;
}
.table1 {
    margin-top: 5%;
    text-align: center;
}
.title {
    margin-top: 5%;
}